@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.scroller {
    /* Additional styles */
    overflow: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  .animate-scroll {
    animation: scroll var(--animation-duration) linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  